.anime-card-section {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  grid-auto-rows: auto;
  grid-gap: 20px;

  &:hover .anime-card {
    filter: blur(3px);
    opacity: 0.5;
    transform: scale(0.98);
    box-shadow: none;
  }
  &:hover .anime-card:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  }

  .anime-card {
    background-color: rgb(231, 231, 231);
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

    position: relative;

    transition: 0.2 all;

    .anime-card-link {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
    }

    .anime-card-img {
      width: 100%;
      padding-bottom: 12px;
    }
    .anime-card-info {
      text-align: center;
    }
    .anime-card-button {
      background-color: rgb(224, 224, 224);
      margin: 12px;
      border: 1px solid;
      padding: 10px;
    }
  }
}
