header.header {
  background: var(--secondary-dark);
  padding: 2rem 0;

  > div {
    margin: 0 auto;
    max-width: 1100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h1 {
    color: var(--color-text);
  }

  nav {
    ul {
      text-align: center;
      li {
        display: inline-block;
        padding: 12px;

        a {
          color: var(--color-text);
          padding-bottom: 5px;

          transition: 0.1s;
          &:hover {
            border-bottom: 2px solid var(--color-text);
          }
        }
      }
    }
  }
}
