.search-bar {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;

  input {
    padding: 12px 24px;
    border: 0;
    border-radius: 8px;
  }

  button {
    padding: 14px;
    border: 0;
    background-color: #3fad27;
    border-radius: 8px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
  }
}
